* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

img.flag {
    height: 50px;
    width: 60px;
    position: relative;
}

main {
    background-color: #564d4d;
    height: calc(100vh - 100px)
}